body {
    background-image: url("../img/movie_bg_001.png");
    margin: 0;
    padding: 0;
    min-width: 825px;
}

html, body {
    width:100%;
}

.head_content{
    width:50%;
    margin: 0 auto;
}

a {
    color: #495F7F;
    text-decoration: none;
}

a:visited {
    color: #495F7F;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

img {
    width: 300px;

}   

a {
    padding: 10px;
}

p {
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
    font-size:1.2em;
    padding: 2px;
}

ul {
    list-style-type: none;
    padding-left:0;
}

h1 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size:1.6em;
    padding-left: 10px;
}

h2 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size:1.2em;
    padding: 15px;
    line-height: 1.6;
}

h3 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.6;
}


h4 {
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
    font-size:1.2em;
    padding-left: 15px;
    line-height: 1.6;
}

h5 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size:1.5em;
}

.headTop {
    text-align: center;
    width: 100%;
    height: 75px;
    padding: 10px;
    background-color: rgb(74, 85, 98);
}

span.mainText {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size:1.2em;  
}

.textTop {
    display: inline-block;
    vertical-align: top;
}

form.searchMovie.ng-pristine.ng-valid {
    padding: 100px;
}

form.searchMovie.ng-valid.ng-dirty.ng-valid-parse {
    padding: 100px;
}

.searchBox {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.searchPopCorn {
    position: relative;
    top:4px;
}

.popCornHead {
    width:70px;
    position: relative;
    top:1px;
}

.titleHead{
    vertical-align: middle;
}

/* button and input box */

input#movieSearch {
    padding:8px; 
    border-width:3px; 
    font-size:24px; 
    text-align:left;
    width:425px;
}

a.button {
  background: #3498db;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  font-family: Arial;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

a.button:hover {
    background: #3cb0fd;
}

/* Movie results page */

.pageheading {
    text-align: center;
    padding-top: 5px;
}

img.moviePoster {
    width: 200px;
}

p.ng-binding {
    
}

.movieInfo.ng-scope {
    padding-top: 2px;
    margin: 0 auto;
    width:825px;
    background-color: rgba(151, 164, 180, 1);
}

.movieDetails {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

span.movieTitle {
    position: relative;
    padding:10px;
    width: 600px;
}

/* Actor results page */

.actorDetailsPage.ng-scope {
    margin: 0 auto;
    width:825px;
    background-color: rgba(151, 164, 180, 1);
}

img.actorImage {
    width: 200px;
}

footer {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    margin: 0 auto;
    width: 805px;
    margin-top:20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.55);
}

h2.ng-binding {
    margin: 0 auto;
    text-align: center;
}

h3.ng-binding {
    margin: 0 auto;
    text-align: center;
}

/* Error Page */

.errorPage{
    padding-top: 2px;
    margin: 0 auto;
    width:825px;
    background-color: rgba(151, 164, 180, 1);
}

.errorTitle {
    text-align: center;
    padding: 10px;
}

/* Actor Popup */

#actorsname { 
    position: relative; 
}
#actorsname a span { 
    display: none; 
    color: #FFFFFF; 
}
#actorsname a:hover span { 
    display: block; 
    position: absolute; 
    width: 200px; 
    height: 50px; 
    left: 100px; 
    top: -10px; 
    color: #FFFFFF; 
    padding: 0 5px; 
}

/* Media Screen Stuff */

@media only screen and (min-width: 320px) and (max-width: 799px) {

    .container {
        width:320px;
    }
    
    .head_content{
        width:91%;
        margin: 0 auto;
        display: table-cell;
    }
    
    .headTop {
        display: block;
        text-align: center;
        width: 100%;
        height: 75px;
        padding: 10px;
    }    
    
    .searchBox {
        margin: 0 auto;
        position: relative;
        text-align: center;
    }
    
    a.button {
        font-size: 18px;
        display: block; 
        margin: 0 auto;
        width: 299px;
        margin-bottom: 5px;
    }
    
    input#movieSearch {
        padding:8px; 
        border-width:3px; 
        font-size:18px; 
        text-align:left;
        width:319px;
        margin-bottom: 5px;
    }
        
    form.searchMovie.ng-pristine.ng-valid {
        padding: 20px;
    }
    
    .movieInfo.ng-scope {
        padding-top: 2px;
    }
    
    h2 {
        font-size: 1.8em;
        padding: 5px;
    }
    
    h4 {
        font-size: 1.6em;
        padding: 6px;
    }
    
}


@media only screen and (min-width: 800px) and (max-width: 1024px) {

    a.button {
        font-size: 18px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }
    
    input#movieSearch {
        padding:8px; 
        border-width:3px; 
        font-size:18px; 
        text-align:left;
        width:280px;
    }
    
    .movieInfo.ng-scope {
        padding-top: 2px;
        width:750px;
    }
    
    .actorDetailsPage.ng-scope {
        margin: 0 auto;
        width:750px;
    }
}