<div class="movieInfo"> 

    <div class="pageheading">
        <h1>{{movie}}, {{ details.Year }}</h1>
    </div>

    <div class="movieDetails">
        <img ng-src="http://img.omdbapi.com/?i={{ details.imdbID }}&apikey=cc6412ad">
        <span class="movieTitle"><br /> <p>Release Date: {{ details.Released }} ({{ details.Runtime }}) <br /> {{moreDetails.tagline}}</p></span>
    </div> 
    <div class="movieInfo">
        <h2>Plot:</h2> <h4>{{ details.Plot }}</h4>
        <h2>Directors:</h2> <h4>{{ details.Director }}</h4>
        <h2>Production Companies</h2><h4>{{moreDetails.production_companies[0].name}}</h4>
        <h2>Production Countries</h2><h4>{{moreDetails.production_countries[0].name}}</h4>
        <h2>Actors:</h2><h4>
            <ul class="actorResults">
                <li ng-repeat="actor in details.Actors.split(',')">
                    <a href="#/actor.html/{{actor}}">{{actor}}</a>
                </li>
            </ul>
        <h2>Genre:</h2> <h4>{{details.Genre }}</h4>
        <h2>IMDb Rating:</h2> <h4>{{ details.imdbRating }}</h4>
        <h2>Related Movies:</h2>
            <ul class="relatedMovies">
              <li ng-repeat="movie in related.Search">
                <a href="#/movie.html/{{movie.Title}}" id="{{ $index + 1 }}">
                    {{ movie.Title }}</a>, {{ movie.Year }}     
              </li>
            </ul>
        <div>
            <p><a ng-href="https://www.youtube.com/results?search_query={{ details.Title }}" target="_blank">Watch the trailers!</a></p>
        </div>
        <div>
            <p><a ng-href="http://www.amazon.in/s/ref=nb_sb_noss_1?url=search-alias%3Ddvd&field-keywords={{ details.Title }}" target="_blank">Buy the movie on Amazon</a></p>
        </div>

    <p><a ng-href="{{moreDetails.homepage}}">{{movie}} homepage</a></p>

    </div>    


<footer>
    <a href="#/">&larr;Back to the search Page</a>  
</footer>


<!--
{{ details.Actors }}
?api_key=651514f7e8896c44cfcec49d1bf2f778
-->